@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-background;
    @apply text-text;
    font-family: 'Outfit';
}

ul li {
    @apply flex items-center gap-2;
}

.hero h1 span {
    background: var(--gradient, linear-gradient(31deg, #20D6CB 0%, #00FF47 100%));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 900;
}

.cards article {
    flex: 1;
}

.card::before {
    content: '';
    @apply absolute top-0 left-0 w-[50%] bg-[#00FF1A] aspect-square rounded-full blur-[150px] opacity-20;
}

.card::after {
    content: '';
    @apply absolute top-0 left-[50%] w-[50%] bg-[#00F0FF] aspect-square rounded-full blur-[150px] opacity-20;
}